@use 'colors';

.title {
	flex-grow: 0;
	padding: 10px;
	background-color: colors.$theme;
	font-size: 26pt;
	font-weight: bold;
}

.content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}