@use 'colors';

.main {
	flex-shrink: 0;
	position: relative;
	width: 200px;
	height: 200px;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 10px;
}

.imageContainer {
	width: 100%;
	height: 90%;
}

.imagePreview {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.label {
	margin: 0;
	font-size: 12pt;
	text-align: center;
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
}

.overlay {
	position: absolute;
	top: -1px;
	left: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	visibility: hidden;
}

.main:hover .overlay,
.main:active .overlay {
	visibility: initial;
}

.iconButton {
	z-index: 1;
	flex-shrink: 0;
	padding: 3px;
	min-width: 33px; //allow buttons expanding for alt text
	height: 33px;
	cursor: pointer;
	border: 1px solid black;
	
	//alt text
	font-size: 12pt;
	
	&:hover {
		filter: brightness(90%);
	}
}

.downloadButton {
	border-top-left-radius: 10px;
	background-color: colors.$accent;
}

.deleteButton {
	border-top-right-radius: 10px;
	float: right;
	background-color: colors.$reject;
}

.icon {
	height: 100%;
}