@use 'colors';

.main {
	flex-shrink: 0;
	width: 200px;
	height: 200px;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 10px;
}

.imageContainer {
	width: 100%;
	height: 90%;
}

.imagePreview {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.label {
	margin: 0;
	font-size: 12pt;
	text-align: center;
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
}