@use 'colors';

.folder {
	position: relative;
	margin-bottom: 10px;
	display: flex;
	border-top: 2px solid lighten(colors.$theme, 20%);
	border-left: 2px solid lighten(colors.$theme, 20%);
	border-right: 2px solid darken(colors.$theme, 20%);
	border-bottom: 2px solid darken(colors.$theme, 20%);
}

.selected {
	border-top: 2px solid darken(colors.$theme, 20%);
	border-left: 2px solid darken(colors.$theme, 20%);
	border-right: 2px solid lighten(colors.$theme, 20%);
	border-bottom: 2px solid lighten(colors.$theme, 20%);
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: colors.$theme;
}

.folderButton:hover + .background,
.folderButton:focus + .background {
	filter: brightness(90%);
}

.folderButton {
	position: relative;
	z-index: 1;
	flex-grow: 1;
	padding: 3px;
	min-width: 0;
	background-color: transparent;
	height: 37px;
	border: none;
	cursor: pointer;
	text-align: left;
	font-size: 16pt;
	
	&:focus {
		outline: none;
	}
}

.folderName {
	margin: 0;
	padding: 2px;
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
	
	&.loading {
		//make space for loading icon
		width: calc(100% - 37px);
	}
}

.folderInput {
	margin: 0;
	padding: 2px;
	box-sizing: border-box;
	width: 100%;
	background-color: colors.$theme-light;
	border: none;
	text-align: left;
	font-size: 16pt;
	
	&:focus {
		outline: none;
	}
}

.loadingIcon {
	position: absolute;
	top: 0;
	right: 0;
	margin: 2px;
	height: 33px;
	
	//alt text
	font-size: 12pt;
	line-height: 33px;
}

.iconButton {
	z-index: 1;
	flex-shrink: 0;
	margin: 2px;
	padding: 3px;
	min-width: 33px; //allow buttons expanding for alt text
	height: 33px;
	cursor: pointer;
	border: 1px solid black;
	background-color: colors.$accent;
	
	//alt text
	font-size: 12pt;
	
	&:hover {
		filter: brightness(90%);
	}
}

.deleteButton {
	background-color: colors.$reject;
}

.icon {
	height: 100%;
}