@use 'colors';

.input, .errorInput {
	width: 100%;
	box-sizing: border-box;
	font-size: 20pt;
	border: none;
	background-color: colors.$theme-light;
	border-bottom: 1px solid black;
	border-top: 1px solid transparent;
}

.errorInput {
	border: 1px solid colors.$reject;
}

.errorMessage {
	margin: 2px 0 0 0;
	padding: 2px 2px 2px 6px;
	border-radius: 0 0 8px 8px;
	background-color: colors.$reject;
	color: white;
	font-size: 14pt;
}